#container{
    height: 100vh;
}
.description{
    font-size: 13px;
    margin: 15px 0px;
    text-align: justify;
}
.linkingbutton , .linkingbutton > a{
    color: #3360f9;
    text-decoration: none;
}

@media only screen and (max-width: 575px) {
    #form-title{
        font-size: 5vw;
    }
    .description{
        font-size: 2.9vw;
    }
    .inputstitle{
        font-size: 3vw;     
    }
    .inputs{
        height: 8vw;
        font-size: 4vw;
    }
    #button{
        font-size: 4vw;
        height: auto;
        padding: 6px;
    }
    .linkingbutton{
        font-size: 5vw;
    }
    #message{
        min-height: 15px;
        font-size: 3vw;
    }
}